  <%include header.ejs%>
    <div id="banner">
      <img src="/images/banner.png" alt="">
    </div>
    <div id="content" class="clear">
        <%list.forEach(function(list,index){%>
        <div class="i_box">
          <div class="u_info">
            <div class="au_box">
              <img src="/images/avatar.jpg" alt="">
            </div>
                      <span class="name">
                          <%=list.name%>
                      </span>
          </div>
          <div class="pic_box">
            <img src="<%=list.imgPath%>" alt="">
          </div>
          <dl class="a_view clear">
            <dt><a href="/view/<%=list.name%>/<%=list.title%>/<%=list.time.day%>"><%=list.title%></a></dt>
          <dd class="time"><%= list.time.day %></dd>
          <dd class="cmt">
            <i></i><span>14</span>
          </dd>
          <dd class="like">
            <i></i><span>12</span>
          </dd>
        </dl>
      </div>
      <% })%>

  </div>
  <div class="m_loading">
    <a class="look_more" href="#">
      查看更多
    </a>
  </div>
<%include footer.ejs%>
